@media print {
    .navbar, .img-container, .button, .footer, .sidebar, .header, .skip-link {
        display: none !important;
    }

    .img-container {
        display: none !important;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

    * {
        box-shadow: none !important;
        border: none !important;    
        background: white !important;
        outline: none !important;
    }

    .right-side {
        padding: 0 !important;
        margin: 0 !important;
    }
}
